body {
    background: steelblue;
    color: cornflowerblue;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: arial;
}

.cell, .index {
    float: left;
    border: 1px solid #eee;
    width: 10px;
    height: 10px;
}

.index {
    font-family: monospace, sans-serif;
    font-size: 7pt;
    color: #000;
    text-align: center;
}

.cell.hot {
    background: red;
}

.cell.hit {
    background: black !important;
}

.cell.miss {
    background: #ccc !important;
}

#boardcontainer {
    margin: 0 auto;
/*    width: 1024px;*/
    overflow: auto;
}

.board, #myfleet {
    float: left;
    margin: 1em;
    background: #fff;
}

#myfleet {
    color: #000;
    font-family: helvetica;
    text-transform: uppercase;
    width: 340px;
}

#myfleet ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
}

#myfleet ul li {
    margin: 2px 0;
    padding: 2px;
}

.damage_none     { background: green; }
.damage_light    { background: yellow; }
.damage_moderate { background: orange; }
.damage_heavy    { background: red; }
.damage_total    { background: white; text-decoration: line-through; color: #ccc; }

input#x, input#y {
    width: 3em;
}

#fireform {
    clear: both;
    background: #fff;
    color: #000;
    width: 300px;
    margin: 0 auto;
    padding: 4px;
    text-align: center;
}
